<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="degebug.com是一个前端开发者的博客，在这里，你将...等一下，我de个bug先！">
  <meta name="keywords" content="degebug.com,博客,技术,程序员,debug,前端,日记,写作,阅读,原创,吴晓权">
  <title>博客 || degebug.com</title>
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/css/page-item.css">
</head>
<body>
  <header class="blog-header">
    <h1 class="blog-logo"><a href="/">degebug.com博客</a></h1>
    <nav class="blog-nav">
      <a class="blog-nav-item" href="/">首页</a>
      <a class="blog-nav-item" href="//admin.degebug.com" target="_blank">博客管理</a>
    </nav>
  </header>
  <div class="blog-container">
    <section class="blog-category">
      <h2 class="blog-category-title">分类目录</h2>
      <ul class="blog-category-list">
        <li><a href="/">分类目录01</a></li>
        <li><a href="/">分类目录02</a></li>
        <li><a href="/">分类目录03</a></li>
      </ul>
    </section>
    <section class="blog-content">
      <ul class="blog-content-wrappper">
        <li class="blog-content-item">
          <h3 class="blog-content-title"><a href="/">这是一篇文章</a></h3>
          <div class="blog-content-desc">
            <p>本文主要记录了degebug.com博客在云服务器上的部署流程</p>
            <a class="blog-content-more">阅读更多</a>
          </div>
          <div class="blog-content-info">
            <span class="blog-content-author">作者：吴晓权</span>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span class="blog-content-comment">评论：0条</span>
          </div>
        </li>
        <li class="blog-content-item">
          <h3 class="blog-content-title"><a href="/">这是一篇文章</a></h3>
          <div class="blog-content-desc">
            <p>本文主要记录了degebug.com博客在云服务器上的部署流程</p>
            <a class="blog-content-more">阅读更多</a>
          </div>
          <div class="blog-content-info">
            <span class="blog-content-author">作者：吴晓权</span>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span class="blog-content-comment">评论：0条</span>
          </div>
        </li>
        <li class="blog-content-item">
          <h3 class="blog-content-title"><a href="/">这是一篇文章</a></h3>
          <div class="blog-content-desc">
            <p>本文主要记录了degebug.com博客在云服务器上的部署流程，本文主要记录了degebug.com博客在云服务器上的部署流程，本文主要记录了degebug.com博客在云服务器上的部署流程，本文主要记录了degebug.com博客在云服务器上的部署流程</p>
            <a class="blog-content-more">阅读更多</a>
          </div>
          <div class="blog-content-info">
            <span class="blog-content-author">作者：吴晓权</span>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <span class="blog-content-comment">评论：0条</span>
          </div>
        </li>
      </ul>
      <div class="blog-more" id="blogMore" data-page="1" data-size="5">更多文章</div>
    </section>
    <aside class="blog-top" id="blogTop">Top</aside>
  </div>
  <footer class="blog-footer">
    <p>Copyright&copy;2018-2019 吴晓权 版权所有</p>
    <p><a target="_blank" rel="noopener noreferrer" href="http://www.miitbeian.gov.cn">粤ICP备18084360号-1</a></p>
  </footer>
</body>
<script src="../static/js/jquery-3.3.1.js"></script>
<script src="../static//js/index.js"></script>
</html>